<li><%= category.tittle %><span class="right">
<%= link_to "Show", category_path(category) %>
<% if current_user.is_admin? %>
 | <%= link_to "Delete", category, method: :delete, data: {confirm: "Are you sure?"}%> | <%= link_to "Edit", edit_category_path(category)%></span>
<%end%></li>

