<% provide(:title, "Categories") %>
<div class="subtoc">
  <h1>All Categories</h1>

  <ul class="users">
       <%= render @categories %>
       <% if current_user.is_admin? %>
<%= form_for(Category.new) do |f| %>
  <%= f.text_area :tittle %>
  <%= f.submit "create", class: "btn btn-primary"%>
  <%end%>
  <%end%>
  </ul>



</div>
